.title {
  color: cornflowerblue;
}

.vehicle-category {
  width: 150px;
  height: 130px;
  //background-color: burlywood;
}

.image-box {
  width: 150px;
  height: 100px;
  //background-color: lightgreen;
}

.radio-inputs {
  top: 80%;
  right: 50%;
}

.image {
  object-fit: contain;
  width: 150px;
}
